.invite-form {
  height: 100%;
}
.invite-form body {
  height: 12.09rem;
  width: 7.5rem;
  background: url("../images/bg1.png") no-repeat #F3F4F7;
  background-size: 7.5rem auto;
  border: 1px solid transparent;
}
.invite-form body .longbox {
  margin-top: 6.79rem;
}
.invite-form body .longbox h3 {
  padding-bottom: .2rem;
  line-height: .3rem;
  font-size: .3rem;
  color: #520412;
  text-align: center;
  letter-spacing: 1px;
}
.invite-form body .longbox h3 em {
  font-size: .34rem;
  font-weight: bold;
}
.invite-form body .longbox p {
  line-height: .3rem;
  font-size: .3rem;
  color: #709FED;
  padding-bottom: .64rem;
  text-align: center;
}
.invite-form body .longbox form {
  margin: 0 1rem;
}
.invite-form body .longbox form .text1 {
  width: 100%;
  height: .75rem;
  border: 3px solid #520412;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  padding-left: .8rem;
  background: url("../images/phone.png") no-repeat 0.3rem center;
  background-size: .27rem auto;
  margin-bottom: .2rem;
  color: #848484;
  font-size: .3rem;
}
.invite-form body .longbox form .text2 {
  width: 2.46rem;
  height: .75rem;
  border: 3px solid #520412;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  padding-left: .33rem;
  color: #848484;
  font-size: .3rem;
}
.invite-form body .longbox form .query {
  width: 2.46rem;
  height: .75rem;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  color: #520412;
  background: #F6BC2B;
  font-size: .3rem;
  font-weight: bold;
  border: 3px solid #520412;
}
.invite-form body .longbox form #pw {
  width: 100%;
  height: .75rem;
  border: 3px solid #520412;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  padding-left: .8rem;
  background: url("../images/copy.png") no-repeat 0.3rem center;
  background-size: .27rem auto;
  margin: .2rem 0 .3rem;
  color: #848484;
  font-size: .3rem;
}
.invite-form body .longbox form .yiwen {
  padding-bottom: .3rem;
  color: #520412;
}
.invite-form body .longbox form .login {
  display: block;
  width: 3.5rem;
  height: .67rem;
  background: url("../images/dianjihuoqu.png") no-repeat;
  background-size: 3.5rem auto;
  text-indent: -9999px;
  margin: 0 auto;
}
.invite-form body .modal-wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.invite-form body .modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 6rem;
  height: 3rem;
  background: #ffffff;
  text-align: center;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
.invite-form body .modal p:nth-of-type(1) {
  font-size: .36rem;
  line-height: .8rem;
}
.invite-form body .modal p:nth-of-type(2) {
  font-size: .32rem;
  line-height: 1.2rem;
  border-bottom: 1px solid #e1e1e1;
}
.invite-form body .modal p:nth-of-type(3) {
  font-size: .36rem;
  line-height: 1rem;
}
.invite-form body .noInternet {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  padding-left: .2rem;
  background: #ED7097;
  color: #ffffff;
  font-size: .30rem;
}
