.option {
  position: relative;
  height: 100%;
}
.option body {
  position: relative;
  height: 100%;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}
.option body .swiper-container {
  width: 100%;
  height: 100%;
}
.option body .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  top: 1.53rem;
}
.option body .swiper-container .slide1 {
  background: red;
}
.option body .swiper-container .slide2 {
  background: yellow;
}
.option body .swiper-container .slide3 {
  background: blue;
}
.option body .swiper-container .swiper-pagination {
  top: 0;
  height: 1.53rem;
  line-height: 1.53rem;
}
.option body .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 2.3rem;
  height: .7rem;
  line-height: .7rem;
  border-radius: 0;
  margin: 0;
  background: transparent;
  color: #4c4c4c;
  opacity: 1;
  border: 1px solid #ed7097;
  margin-left: -1px;
}
.option body .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background: #ed7097;
  color: #ffffff;
}
