.form {
  width: 7.5rem;
  height: 13.34rem;
}
.form body {
  width: 7.5rem;
  height: 13.34rem;
  background: url("../images/bg.jpg") no-repeat;
  background-size: 7.5rem auto;
  border: 1px solid transparent;
}
.form body h1 {
  font-size: .48rem;
  color: #ffffff;
  margin-top: .4rem;
  text-align: center;
}
.form body .p1 {
  width: 4.1rem;
  height: .51rem;
  line-height: .51rem;
  background: rgba(255, 255, 255, 0.3);
  font-size: .4rem;
  color: #ffffff;
  margin: .2rem auto 0;
  text-align: center;
}
.form body .tishi {
  position: relative;
  width: 7.5rem;
  height: 1.24rem;
  line-height: 1.24rem;
  background: #ffffff;
  margin: .65rem auto .01rem;
  text-align: center;
  padding-top: .05rem;
  font-size: .3rem;
  color: #333;
}
.form body .tishi span {
  position: absolute;
  left: .32rem;
  top: .48rem;
  width: .07rem;
  height: .31rem;
  background-color: #E48BA7;
}
.form body .photo {
  width: 7.5rem;
  height: 2.25rem;
  background: #ffffff;
  margin: 0 auto;
}
.form body .photo img {
  width: 1.26rem;
  height: 1.65rem;
  margin: .3rem .05rem 0;
}
.form body .photo img:first-of-type {
  margin-left: .2rem;
}
.form body .end {
  width: 7.5rem;
  height: 1.34rem;
  background: #ffffff;
  margin: 30px auto 0;
}
.form body .end p {
  position: relative;
  font-size: .3rem;
  color: #333;
  line-height: .4rem;
  padding-top: .3rem;
  padding-bottom: .2rem;
  padding-left: .6rem;
}
.form body .end p span {
  position: absolute;
  left: .32rem;
  top: .4rem;
  width: .06rem;
  height: .65rem;
  background-color: #E48BA7;
}
.form body .biaodan {
  width: 7.5rem;
  height: 2rem;
  background: #ffffff;
  margin: 0 auto;
  border: 1px solid transparent;
}
.form body .biaodan form {
  text-align: center;
  display: none;
  padding-top: .3rem;
}
.form body .biaodan form .text1 {
  width: 6.9rem;
  height: .71rem;
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding-left: .4rem;
  background-size: .27rem auto;
  margin-bottom: .1rem;
  color: #ff3355;
  font-size: .24rem;
}
.form body .biaodan form .text2 {
  width: 4.46rem;
  height: .71rem;
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding-left: .33rem;
  color: #ff3355;
  font-size: .24rem;
}
.form body .biaodan form .query {
  width: 2.35rem;
  height: .71rem;
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #f9f9f9;
  background: #FF6D93;
  font-size: .24rem;
}
.form body .biaodan form #pw {
  width: 6.9rem;
  height: .71rem;
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding-left: .4rem;
  background-size: .27rem auto;
  margin: .1rem 0;
  color: #ff3355;
  font-size: .24rem;
}
.form body .biaodan .anniu {
  display: block;
  width: 6.9rem;
  height: .81rem;
  line-height: .81rem;
  margin: .2rem auto 0;
  background: #FF6D93;
  text-align: center;
}
.form body .biaodan .login {
  display: none;
  width: 6.9rem;
  height: .81rem;
  line-height: .81rem;
  margin: .2rem auto 0;
  background: #FF6D93;
  text-align: center;
}
.form body .biaodan .login2 {
  display: none;
  width: 6.9rem;
  height: .81rem;
  line-height: .81rem;
  margin: .2rem auto 0;
  background: #FF6D93;
  text-align: center;
}
.form body .modal-wrap {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.form body .modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 6rem;
  height: 3rem;
  background: #ffffff;
  text-align: center;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
.form body .modal p:nth-of-type(1) {
  font-size: .36rem;
  line-height: .8rem;
}
.form body .modal p:nth-of-type(2) {
  font-size: .32rem;
  line-height: 1.2rem;
  border-bottom: 1px solid #e1e1e1;
}
.form body .modal p:nth-of-type(3) {
  font-size: .36rem;
  line-height: 1rem;
}
.form body .modal-wrap3 {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.form body .wrap3 {
  position: fixed;
  width: 5.5rem;
  border-radius: 18px;
  background: #ffffff;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}
.form body .wrap3 p {
  text-align: center;
  color: #4c4c4c;
}
.form body .wrap3 p:nth-of-type(1) {
  padding-top: .2rem;
  font-size: .54rem;
  color: #FF6D93;
}
.form body .wrap3 p:nth-of-type(2) {
  padding-top: .3rem;
  font-size: .38rem;
  font-weight: bold;
  color: #4C4C4C;
  letter-spacing: 2px;
}
.form body .wrap3 a {
  display: inline-block;
  width: 3.5rem;
  height: .6rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  line-height: .6rem;
  color: #ffffff;
  font-size: .36rem;
  margin-top: .3rem;
  margin-bottom: .2rem;
  background: #FF6D93;
}
.form body .noInternet {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  padding-left: .2rem;
  background: #FEC069;
  color: #ffffff;
  font-size: .30rem;
}
.form body .loading-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
.form body .loading {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 1.05rem;
  height: 1.04rem;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url("../images/loading.gif") no-repeat;
  background-size: 1.05rem auto;
}
