.baoming {
  height: 100%;
}
.baoming body {
  width: 7.5rem;
  height: 12.09rem;
  background: url("../images/bg2.png") no-repeat;
  background-size: 7.5rem auto;
}
.baoming body #baoming {
  position: absolute;
  left: 50%;
  top: 8.9rem;
  -webkit-transform: translateX(-45%);
  -moz-transform: translateX(-45%);
  -ms-transform: translateX(-45%);
  -o-transform: translateX(-45%);
  transform: translateX(-45%);
  width: 3.73rem;
  height: .79rem;
  background: url("../images/shouzhi.png") no-repeat;
  background-size: 3.73rem auto;
}
.baoming body .modal-wrap {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.baoming body .modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 46%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 5.9rem;
  height: 6.69rem;
  background: url("../images/sorry.png") no-repeat;
  background-size: 5.9rem auto;
}
.baoming body .modal #unlock {
  position: absolute;
  left: 50%;
  bottom: .3rem;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 4.49rem;
  height: .76rem;
  background: url("../images/know.png") no-repeat;
  background-size: 4.49rem auto;
}
.baoming body .modal2 {
  display: none;
  position: fixed;
  left: 50%;
  top: 46%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 5.9rem;
  height: 6.69rem;
  background: url("../images/open.png") no-repeat;
  background-size: 5.9rem auto;
}
.baoming body .modal2 #unlock2 {
  position: absolute;
  left: 50%;
  bottom: .3rem;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 4.49rem;
  height: .76rem;
  background: url("../images/know.png") no-repeat;
  background-size: 4.49rem auto;
}
