.kaoshi-exam {
  height: 100%;
}
.kaoshi-exam body {
  height: 100%;
  background: #ffffff;
  position: relative;
}
.kaoshi-exam body .header {
  height: .91rem;
  background: #f9f9f9;
  font-family: "MicrosoftYaHeiLight";
  font-size: .32rem;
  padding: 0 .23rem;
}
.kaoshi-exam body .header span {
  color: #4C4C4C;
}
.kaoshi-exam body .title {
  width: 7.01rem;
  height: 1.77rem;
  margin: .3rem auto .68rem;
  background: url("../images/title.png") no-repeat;
  background-size: 7.01rem auto;
}
.kaoshi-exam body .title div {
  width: 6.25rem;
  font-size: .36rem;
  line-height: .54rem;
  color: #ffffff;
  padding: .36rem .47rem  0 .4rem;
}
.kaoshi-exam body .content {
  margin: 0 .2rem .4rem;
}
.kaoshi-exam body .content input[type=radio] {
  display: none;
}
.kaoshi-exam body .content label {
  display: inline-block;
  width: .7rem;
  height: .7rem;
  line-height: .7rem;
  text-align: center;
  border: 1px solid #D9D9D9;
  border-radius: .35rem ;
  position: relative;
  color: #a1a1a1;
}
.kaoshi-exam body .content input[type='radio']:checked + label {
  background: #ED7097;
  color: #ffffff;
}
.kaoshi-exam body .content span {
  padding-left: .33rem;
  padding-top: .05rem;
  font-size: .32rem;
  line-height: .5rem;
  color: #4C4C4C;
}
.kaoshi-exam body .footer {
  width: 100%;
  height: 1.05rem;
  border-top: 1px dashed #e1e1e1;
  position: fixed;
  left: 0;
  bottom: 0;
}
.kaoshi-exam body .footer span {
  display: block;
  height: 100%;
  padding-top: .65rem;
  margin: 0 auto;
  text-align: center;
  color: #ED7097;
  background: url("../images/clock.gif") no-repeat center 0.14rem;
  background-size: .43rem auto;
}
