.jihua {
  height: 100%;
}
.jihua body {
  width: 100%;
  height: 100%;
  background: url("../images/bg.jpg") no-repeat;
  background-size: 100% auto;
  border: 1px solid transparent;
}
.jihua body header {
  width: 4.36rem;
  height: 3.22rem;
  background: url("../images/a.png") no-repeat;
  background-size: 4.36rem auto;
  position: relative;
  margin: .8rem auto 0;
}
.jihua body header span {
  position: absolute;
  left: 1.3rem;
  top: 1.6rem;
  font-size: .4rem;
  color: #EB6A92;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
  letter-spacing: 2px;
}
.jihua body header p {
  position: absolute;
  left: 4.3rem;
  top: 1.2rem;
  font-size: .6rem;
  color: #EB6A92;
  -webkit-transform: rotate(-17deg);
  -moz-transform: rotate(-17deg);
  -ms-transform: rotate(-17deg);
  -o-transform: rotate(-17deg);
  transform: rotate(-17deg);
}
.jihua body header p em {
  font-size: 1.2rem;
}
.jihua body .genju {
  width: 7.09rem;
  height: .77rem;
  line-height: .77rem;
  font-size: .28rem;
  padding-left: .5rem;
  margin-left: .27rem;
  margin-top: .4rem;
  background: url("../images/b.png") no-repeat;
  background-size: 7.09rem auto;
  color: #4C4C4C;
}
.jihua body .juli {
  width: 5.28rem;
  height: 1.47rem;
  line-height: 1.75rem;
  font-size: .3rem;
  padding-left: .8rem;
  background: url("../images/b1.png") no-repeat;
  background-size: 5.28rem auto;
  margin: .3rem auto 0;
  color: #4C4C4C;
  letter-spacing: 1px;
}
.jihua body .juli span {
  color: #ED7097;
  font-size: .42rem;
  margin: 0 .3rem 0 .2rem;
}
.jihua body .yiyou {
  width: 6.43rem;
  height: .77rem;
  line-height: .77rem;
  font-size: .3rem;
  padding-left: .4rem;
  background: url("../images/b2.png") no-repeat;
  background-size: 6.43rem auto;
  margin: .4rem auto 0;
  color: #4C4C4C;
  letter-spacing: 1px;
}
.jihua body .yiyou span {
  font-size: .36rem;
  color: #ED7097;
}
.jihua body .liji {
  display: block;
  width: 3.71rem;
  height: 1.17rem;
  line-height: 1.17rem;
  text-align: center;
  background: url("../images/anniu.png") no-repeat;
  background-size: 3.71rem auto;
  margin: .6rem auto 0;
}
.jihua body .msg2 {
  position: absolute;
  bottom: .1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: .28rem;
  color: #4C4C4C;
  text-align: center;
  white-space: nowrap;
}
