.select {
  height: 100%;
}
.select body {
  width: 7.5rem;
  height: 13.36rem;
  background: #EC494A;
  border: 1px solid transparent;
}
.select .card {
  width: 7.03rem;
  height: 9.59rem;
  background: url("../images/cardbg2.png") no-repeat;
  background-size: 7.03rem auto;
  margin: .4rem auto;
  border: 1px solid transparent;
}
.select .card select {
  display: block;
  width: 5.92rem;
  height: .71rem;
  margin: 0 auto;
  border: 1px solid #ccc;
  font-size: .24rem;
  color: #666666;
  padding: 0.3% 5% 0.3% 5%;
  background: url("../images/arrow.png") no-repeat 97%;
  background-size: .2rem auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: .8rem;
}
.select .card select option {
  color: #666;
}
.select .card p {
  width: 7.03rem;
  font-size: .24rem;
  color: #161616;
  margin: .5rem 0 .2rem;
  padding-left: .6rem;
}
.select .card #container a {
  display: inline-block;
  width: 1.47rem;
  height: .51rem;
  line-height: .51rem;
  text-align: center;
  border-radius: 5px;
  background: url("../images/upload_button.png") no-repeat;
  background-size: contain;
  margin-left: .5rem;
  font-size: .26rem;
  margin-bottom: .2rem;
}
.select .card #ossfile {
  overflow: hidden;
  width: 6rem;
  margin: 0 auto;
}
.select .card #ossfile > div {
  position: relative;
  float: left;
  width: 1.85rem;
  height: 1.85rem;
  border: 1px solid #eeeeee;
  margin: .05rem .05rem;
  color: #666;
  font-size: .24rem;
}
.select .card #ossfile > div em {
  position: absolute;
  right: .05rem;
  top: .05rem;
  z-index: 200;
  width: .5rem;
  height: .5rem;
  background: url("../images/close.png") no-repeat;
  background-size: contain;
}
.select .card #ossfile > div img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
}
.select .card #ossfile > div span {
  position: absolute;
  left: 20%;
  top: 50%;
}
.select .card #ossfile > div .progress {
  position: absolute;
  left: 5%;
  top: 40%;
  margin-top: 2px;
  width: 90%;
  height: 14px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.select .card #ossfile > div .progress .progress-bar {
  background-color: #EC494A;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px -1px 0px 0px inset;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  float: left;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  transition-delay: 0s;
  transition-duration: 0.6s;
  transition-property: width;
  transition-timing-function: ease;
  width: 100%;
}
footer {
  position: fixed;
  z-index: 100;
  left: 0;
  bottom: 0;
  width: 7.5rem;
  height: 2.31rem;
  background: url("../images/zhezhang.png") no-repeat;
  background-size: 7.5rem auto;
}
footer .submit {
  display: block;
  float: left;
  width: 2.77rem;
  height: .92rem;
  line-height: .92rem;
  text-align: center;
  background: url("../images/upload_bg.png") no-repeat;
  background-size: 2.77rem auto;
  margin: 1rem .4rem 0;
  color: #000000;
}
footer .share {
  display: block;
  float: left;
  width: 2.77rem;
  height: .92rem;
  line-height: .92rem;
  text-align: center;
  background: url("../images/share_bg.png") no-repeat;
  background-size: 2.77rem auto;
  margin: 1rem .4rem 0;
  color: #000000;
}
.modal-wrap {
  display: none;
  position: fixed;
  z-index: 201;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 202;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 6.46rem;
  height: 5.49rem;
  background: #fff;
}
.modal span {
  display: block;
  width: 2.18rem;
  height: 2.18rem;
  background: url("../images/header-icon.png") no-repeat;
  background-size: 2.18rem auto;
  margin: -1rem auto 0;
}
.modal .up_success {
  text-align: center;
  color: #E35751;
  font-size: .36rem;
  margin-top: .3rem;
}
.modal .info {
  width: 89%;
  line-height: .6rem;
  text-align: center;
  font-size: .3rem;
  padding-top: .2rem;
  color: #333;
  margin: 0 auto;
  letter-spacing: 1px;
}
.modal .confirm {
  position: absolute;
  left: 50%;
  bottom: .5rem;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 2.77rem;
  height: .92rem;
  line-height: .92rem;
  background: url("../images/share_bg.png") no-repeat;
  background-size: 2.77rem auto;
  text-align: center;
}
.loading-modal {
  display: none;
  position: fixed;
  z-index: 104;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
.loading {
  display: none;
  position: fixed;
  z-index: 104;
  left: 50%;
  top: 50%;
  width: 1.05rem;
  height: 1.04rem;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url("../images/loading.gif") no-repeat;
  background-size: 1.05rem auto;
}
.alertbox {
  display: none;
  position: fixed;
  left: 50%;
  bottom: 2.5rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 3rem;
  height: .5rem;
  line-height: .5rem;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-align: center;
  font-size: .26rem;
}
.modal-wrap3 {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 201;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
.wrap3 {
  display: none;
  position: fixed;
  width: 4.59rem;
  border-radius: 10px;
  background: #ffffff;
  left: 50%;
  top: 50%;
  z-index: 900;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.wrap3 p {
  text-align: center;
  color: #4c4c4c;
}
.wrap3 div#tishi {
  padding-top: .1rem;
  line-height: .64rem;
  font-size: .34rem;
}
.wrap3 div#shanchu {
  line-height: .78rem;
  font-size: .28rem;
  border-bottom: 1px solid #f7f7f7;
}
.wrap3 .btn input {
  display: inline-block;
  line-height: .98rem;
  font-size: .32rem;
  background: transparent;
  color: #a1a1a1;
}
.wrap3 .btn input:nth-of-type(1) {
  width: 50%;
  color: #ed7097;
}
.wrap3 .btn input:nth-of-type(2) {
  width: 50%;
}
