.pay-voucher {
  height: 100%;
}
.pay-voucher body {
  height: 100%;
  background: #F9F9F9;
  border: 1px solid transparent;
}
.pay-voucher body header {
  height: 1rem;
  line-height: 1rem;
  background: #ffffff;
  font-size: .3rem;
  font-family: "Microsoft Yahei Light";
  color: #4c4c4c;
  padding-left: .33rem;
  margin: .19rem 0;
}
.pay-voucher body section {
  height: 2rem;
  margin: 0 .2rem .2rem;
  background: #ffffff;
}
