.invite-account {
  height: 100%;
  background: #FDFDFD;
}
.invite-account body {
  width: 7.5rem;
  height: 100%;
  background: url("../images/bg1.png") no-repeat #FDFDFD;
  background-size: 100% auto;
  padding-top: 4.48rem;
}
.invite-account .shortbox {
  width: 7.5rem;
  height: 7.02rem;
  text-align: center;
  color: #606060;
}
.invite-account .shortbox h1 {
  padding-top: 1.15rem;
  font-size: .6rem;
  line-height: 1rem;
}
.invite-account .shortbox p {
  font-size: .36rem;
  line-height: .6rem;
  margin-bottom: 0.68rem;
  color: #FC7397;
}
.invite-account .shortbox .qq {
  font-size: .24rem;
  text-align: center;
  color: #cccccc;
  margin: .6rem 0 .2rem 0;
}
.invite-account .shortbox a {
  display: inline-block;
  width: 4.34rem;
  height: .8rem;
  line-height: .8rem;
  border-radius: 5px;
  font-size: .3rem;
  background: #FC7397;
  color: #eeeeee;
}
.invite-account .modal-wrap {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.invite-account .modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 6rem;
  height: 3rem;
  background: #ffffff;
  text-align: center;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
.invite-account .modal p:nth-of-type(1) {
  font-size: .36rem;
  line-height: 1.5rem;
}
