.invite-baopeng {
  height: 100%;
  background: #F3F4F7;
}
.invite-baopeng body {
  height: 100%;
  width: 7.5rem;
  background: url("../images/bg4.png") no-repeat #F3F4F7;
  background-size: 7.5rem auto;
  border: 1px solid transparent;
}
.invite-baopeng body .longbox {
  margin-top: 4.4rem;
  width: 7.5rem;
  height: 8.33rem;
  background: url("../images/long-box.png") no-repeat;
  background-size: 7.5rem auto;
}
.invite-baopeng body .longbox h3 {
  padding-top: .82rem;
  padding-bottom: .31rem;
  line-height: .6rem;
  font-size: .6rem;
  color: #ed7097;
  text-align: center;
}
.invite-baopeng body .longbox p.yiyou {
  line-height: .48rem;
  font-size: .48rem;
  color: #464646;
  padding-bottom: .6rem;
  text-align: center;
}
.invite-baopeng body .longbox p.yiyou em {
  color: #ed7097;
}
.invite-baopeng body .longbox div {
  margin: 0 .55rem;
  overflow: hidden;
}
.invite-baopeng body .longbox div section {
  float: left;
  padding: 0 .05rem;
}
.invite-baopeng body .longbox div section span {
  width: 1.18rem;
  height: 1.18rem;
  border-radius: 5px;
  background: #E7E9EF;
  border: 1px solid #ed7097;
}
.invite-baopeng body .longbox div section em {
  font-size: .3rem;
  color: #1b1a1a;
  display: block;
  text-align: center;
  margin-top: .05rem;
  width: .9rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.invite-baopeng body .longbox div section strong {
  font-style: normal;
  font-weight: normal;
  font-size: .2rem;
  color: #ed7097;
  display: block;
  text-align: center;
}
.invite-baopeng body .longbox a.liji {
  display: block;
  width: 4.34rem;
  height: .8rem;
  background: url("../images/ganjin.png") no-repeat;
  background-size: 4.34rem auto;
  margin: 1.02rem auto .2rem;
  text-indent: -9999px;
}
.invite-baopeng body .longbox span {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: .24rem;
  color: #4b4b4b;
}
